.Footer{
    min-height: 150px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
    background-color: rgb(166, 239, 255);
    text-align: center;
  }


  .button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #fff;
    background: #2980b9;
    padding: 7px 12px;;
    font-size: 18px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.15);
  }